<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Link Detector</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="hero">
        <div class="top-right-buttons">
            <button class="nav-button" onclick="window.location.href='/searchlink'">Search By Link</button>
            <button class="nav-button" onclick="window.location.href='/searchemail'">Search By Email</button>
        </div>
        <header>
            <h1 class="glow-text">Cyber Shield</h1>
            <p>Your Ultimate Phishing Link Protection Tool</p>
        </header>
        <main>
            <form action="/check-email" method="post" id="formemail">
                <div class="input-container">
                    <label for="email" class="neon-text">Enter Email Address:</label>
                    <input type="email" name="email" id="email" placeholder="Enter the email address" required>
                </div>
                <div class="input-container">
                    <label for="emailText" class="neon-text">Paste the Suspicious Email Content:</label>
                    <textarea name="emailText" id="emailText" placeholder="Paste the email content here" required></textarea>
                </div>
                <button type="submit" class="btn glow-button">Analyze Email</button>
            </form>
            
            <div id="result" class="result-box"></div>
            <div id="emailForm" class="email-form" style="display: none;">
                <p>Block the sender?</p>
                <button id="seeMoreDetails" class="details-button">See More Details</button>
            </div>
            
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Cyber Shield | Protecting Your Digital Footprint</p>
    </footer>
    <script src="static/script2.js"></script>
</body>
